@import url(../css/null.css);
@import url(../css/fonts.css);
html {
  font-size: 10px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

h1 {
  font-size: 3.7rem;
  line-height: 4rem;
  font-family: "Yanone Kaffeesatz", sans-serif;
  margin-bottom: 15px;
}

h2 {
  font-size: 3rem;
  font-family: "Yanone Kaffeesatz", sans-serif;
  line-height: 3rem;
}

p {
  font-size: 2.7rem;
}

ul {
  font-size: 2rem;
  padding: 20px;
  text-align: start;
}
ul :hover {
  text-shadow: #FC0 1px 0 10px;
}
ul li {
  transition: all 0.8s;
}

a {
  color: #000000;
  text-decoration: none;
}

address {
  font-size: 3rem;
  font-style: normal;
  line-height: 3rem;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../img/background-main.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 25px;
  background: rgba(212, 212, 212, 0.808);
  box-shadow: 0px 0px 20px black;
}

header {
  height: 10vh;
  padding-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
header img {
  height: 10vh;
  padding-top: 5px;
}

.header__misc {
  width: 110px;
}

.header__logo {
  display: flex;
  justify-content: center;
}

.header__contact {
  font-size: 1.3rem;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-content: center;
}

.call__mobile {
  width: 48px;
  display: none;
  min-width: 48px;
  min-height: 48px;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/icons/call-icon.svg);
}

section {
  min-height: 50vh;
  padding: 15px;
  overflow: hidden;
}

.section1 {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}

.arrow-transit {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-image: url(../img/icons/arrow-down.svg);
  align-self: center;
}

.section2 {
  display: flex;
  flex-direction: column;
}

.section2__wrapper {
  padding: 15px;
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section3 {
  display: flex;
  flex-direction: column;
}
.section3 h2 {
  margin-bottom: 10px;
}

.section3__wrapper {
  padding: 15px;
  gap: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.section3__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.section3__text-wrapper a {
  font-size: 3rem;
  transition: all 0.6s;
  user-select: none;
  font-weight: 600;
}
.section3__text-wrapper a:hover {
  text-shadow: #FC0 1px 0 10px;
}

.block-image {
  height: 100%;
  max-width: 250px;
  overflow: hidden;
  border-radius: 25px;
}

.section3__call-list {
  display: flex;
  flex-direction: column;
}

.section3__messangers-wrapper {
  display: flex;
  flex-direction: column;
}
.section3__messangers-wrapper span {
  font-size: 1.7rem;
}

.section3__messangers {
  gap: 7px;
  display: flex;
  justify-content: center;
}

.viber-link {
  background-image: url(../img/icons/viber-icon.svg);
}

.whatsapp-link {
  background-image: url(../img/icons/whatsapp-icon.svg);
}

.messanger-link {
  width: 64px;
  height: 64px;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.section4 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.section4 address {
  margin-top: -15px;
}

.section4__map {
  width: 100%;
  height: 40vh;
  margin-bottom: 5%;
  border: solid black;
  overflow: hidden;
  border-radius: 25px;
}
.section4__map iframe {
  border-radius: 5px;
}

footer {
  font-size: 2rem;
}

@media screen and (max-width: 720px) {
  .section2__wrapper {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 8px;
  }

  .header__logo img {
    height: 8vh;
    padding-top: 5px;
  }

  .header__contact {
    width: 110px;
    padding-top: 0px;
    flex-direction: row;
    justify-content: end;
  }
  .header__contact a {
    display: none;
  }
  .header__contact .call__mobile {
    display: inline-block;
  }

  .section2__wrapper {
    gap: 25px;
    flex-direction: column;
  }

  .section3__wrapper {
    gap: 25px;
    flex-direction: column;
  }
}