// Импорты
//
@import url(../css/null.css);
@import url(../css/fonts.css);
//
// Переменные
//
$sections_margin: 15px;
//
// Глобальные свойства
//
html{
    background: linear-gradient(rgba($color: #990f0f, $alpha: 1.0), rgba($color: #c75f1ab2, $alpha: 1.0));
    font-size: 10px;
};
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h2{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 2rem;
}
.wrapper{
    width: 90%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
//
// Шапка страницы
//
.page-header{
    padding-top: $sections_margin;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    .header-title{
        font-family: 'Press Start 2P', sans-serif;
        line-height: 2rem;
        width: 165px;
        margin-left: 35px;
        text-align: center;
        text-shadow: 1px 1px 12px pink;
    }
    .nord-logo{
        width: 50px;
        height: 50px;
        box-shadow: 0px 0px 12px rgb(211, 134, 134);
    }
}
//
// Основная секция
//
// Настройка основного контейнера
.main-container{
    // Размеры, отступы
    margin-top: $sections_margin;
    padding: 15px;
    // Адаптивность
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    // Декорации
    background-image: linear-gradient(45deg, #000000f5, #13202ce8);
    box-shadow: 5px 5px 55px black;
    border-radius: 15px;
    .media-title{
        text-shadow: 1px 1px 8px rgb(247, 210, 1);
        color: rgb(245, 232, 160);
    }
}
// Настройка донат-контейнера
.donation{
    // Размеры, отступы
    padding: 15px;
    // Адаптивность
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    // Декорации
    background-image: linear-gradient(125deg, #854194bd, #4d90e79d);
    box-shadow: 0px 0px 8px rgb(223, 135, 4);
    border: 3px solid rgb(223, 135, 4);
    border-radius: 15px;
    .donation-description{
        color: rgb(236, 253, 0);
        text-shadow: 4px 3px 8px rgb(12, 10, 7);
    }
}
// Настройка общего шаблона сошиал-медиа кнопок
.media-button{
    // Размеры, отступы
    width: 200px;
    height: 40px;
    // Декорация
    //// Текст
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1rem;
    line-height: 3.6rem;
    text-decoration: none;
    color: black;
    text-shadow: 1px 2px 12px black;
    //// Box
    background-color: rgb(235, 248, 44);
    background-repeat: no-repeat;
    background-size: 27px 27px;
    background-position: left 8px top 4px;
    border: 3px solid black;
    border-radius: 10px;
    //// Переходы
    transition: all linear 0.3s;
    &:hover{
        transition:  all linear 0.3s;
        border-radius: 0px;
        cursor: pointer; 
    }
}
//Настройка отдельных кнопок
//// Настройки кнопки перехода на YouTube
.button__youtube{
    background-image: url(../img/icons/youtube.svg);
    &:hover{
        background-color: rgb(248, 146, 63);   
    }
}
//// Настройки кнопки перехода в TikTok
.button__tiktok{
    background-image: url(../img/icons/tiktok.svg);
    &:hover{
        background-color: rgb(63, 248, 223);   
    }
}
//// Настройки кнопки перехода в Discord
.button__discord{
    background-image: url(../img/icons/discord.svg);
    &:hover{
        background-color: rgb(185, 205, 241);   
    }
}
//// Настройки кнопки перехода на Twitch
.button__twitch{
    background-image: url(../img/icons/twitch.svg);
    background-position: left 8px top 5px;
    background-size: 25px 25px;
    &:hover{
        background-color: rgb(226, 146, 236);   
    }
}
//// Настройки кнопки перехода на Boosty
.button__boosty{
    background-image: url(../img/icons/boosty.svg);
    &:hover{
        background-color: rgb(204, 159, 123);   
    }
}
//// Настройки кнопки перехода в Telegram
.button__telegram{
    background-image: url(../img/icons/telegram.svg);
    background-position: left 8px top 5px;
    background-size: 25px 25px;
    &:hover{
        background-color: rgb(185, 205, 241); 
    }
}
//// Настройки кнопки доната
/// Переменные для кнопки доната
$donate-button__box-color: rgb(221, 10, 80);
$donate-button__hover-color: rgb(255, 240, 31);
.donation-button{
    // Декорации
    background-color: $donate-button__box-color;
    box-shadow: 0px 0px 25px $donate-button__box-color;
    border: 2px solid $donate-button__box-color;
    // Переходы
    transition: all linear .1s;
    &:hover{
        transition: all linear .1s;
        line-height: 4rem;
        border: none;
        border-radius: 25px;
        background-color: $donate-button__hover-color;
        box-shadow: 0px 0px 35px $donate-button__hover-color;   
    }
}
//
// Настройка подвала
//
footer{
    // Размеры, отступы
    margin-top: $sections_margin;
    margin-bottom: 8px;
    // Текст
    text-align: center;
    font-size: 1.4rem;
    .author-text{
        font-family: 'Yanone Kaffeesatz', sans-serif;
    }
}
//
// Медиа запросы
//
@media (max-width: 350px){
    .text-active{
        display: none;
    }
    .donation-button{
        width: 130px;
    }
}
@media (max-width: 300px){
    .page-header{
        flex-direction: column;
        gap: 15px;
        .header-title{
            margin-left: 0px;
        }
    }
    .media-button{
        width: 130px;
        padding-left: 25px;
    }
    .donation-button{
        padding-left: 0px; 
    }
}
@media (max-width: 235px){
    .wrapper{
        padding-left: 5px;
        padding-right: 5px;
    }
    .main-container{
        .donation{
            border: none;
            background-image: none;
            box-shadow: none;
        }
    } 
}