// Импорты
//
@import url(../css/null.css);
@import url(../css/fonts.css);
//
// Переменные
//
$header-h: 30vh;
//
// Глобальные свойства
//
html{
    font-size: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
h1{
    text-align: center;
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 15px;
}
p{
    font-size: 3rem;
    text-align: center;
}
// 
// Тело
// 
body{
    margin: 0;
    padding: 0;
    // 
    background: rgba(255, 1, 1, 0.308);
    background-image: url(../img/background-main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
// 
// Контейнер
// 
.container{
    background: rgba(251, 255, 0, 0.808);
    margin: 0px auto;
    max-width: 1200px;
    padding: 0px 25px;
}
// 
// Голова
// 
header{
    height: $header-h;
    background: rgba(240, 144, 144, 0.308);
    // 
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

section{
    min-height: 50vh;
    padding: 15px;
}
// 
// Секция 1
// 
.section1{
    min-height:  100vh - $header-h;
    background: rgba(236, 117, 117, 0.308);
    display: flex;
    flex-direction: column;
}
// 
// Секция 2
// 
.section2{
    background: rgba(80, 241, 215, 0.308);
}
// 
// Секция 3
// 
.section3{
    background: rgba(57, 228, 100, 0.308);
}
// 
// Секция 4
// 
.section4{
    background: rgba(217, 68, 247, 0.308);
}
// 
// Подвал
// 
footer{
}
// 
// Медиа-запросы
// 