// Импорты
//
@import url(../css/null.css);
@import url(../css/fonts.css);
//
// Переменные
//
$header-h: 10vh;
$block-images_width: 400px;
//
// Глобальные свойства
//
html{
    font-size: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    scroll-behavior: smooth;
}
h1{
    text-align: center;
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 15px;
}

h2{
    font-size: 3rem;
    line-height: 3rem;
}

p{
    font-size: 3rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
ul{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    padding: 0px;
    :hover{
        text-shadow: #FC0 1px 0 10px;
    }
    li{
        transition: all .8s;
    }
}

a{
    text-decoration: none;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}
address{
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

// 
// Тело
// 
body{
    margin: 0;
    padding: 0;
    // 
    background-image: url(../img/background-main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
// 
// Контейнер
// 
.container{
    background: rgba(212, 212, 212, 0.808);
    margin: 0px auto;
    max-width: 1200px;
    padding: 0px 25px;
    box-shadow: 0px 0px 20px black;
}
// 
// Голова
// 
header{
    height: $header-h;
    // 
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    img{
        height: 10vh;
        padding-top: 5px;
    }
}

section{
    min-height: 50vh;
    padding: 15px;
    overflow: hidden;
}


// 
// Секция 1
// 
.section1{
    min-height:  100vh - $header-h;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.arrow__transit{
    align-self: center;
    width: 100px;
    height: 100px;
    background-image: url(../img/icons/arrow-down.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}
// 
// Секция 2
// 
.section2{
    display: flex;
    flex-direction: column;
}
.section2__wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    gap: 15px;
    vertical-align: middle;
}
// 
// Секция 3
// 
.section3{
    display: flex;
    flex-direction: column;
    h2{
        margin-bottom: 10px;
    }
}
.section3__wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    flex-wrap: wrap;
    gap: 25px;
}

.section3__text-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    a{
        font-size: 3rem;
        user-select: none;
        transition: all .6s;
        font-weight: 600;
        &:hover{
            text-shadow: #FC0 1px 0 10px;
        }
    }
}
.block-image{
    height: 100%;
    max-width: 250px;
    border-radius: 25px;
    overflow: hidden;
}
.call_list{
    display: flex;
    flex-direction: column;
    text-align: center;    
}
.section3__messanger-list_wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section3__messanger-list{
    display: flex;
    gap: 7px;
}
.viber__link{
    background-image: url(../img/icons/viber-icon.svg);
}
.whatsapp__link{
    background-image: url(../img/icons/whatsapp-icon.svg);
}
.messanger__link{
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: center;
}


// 
// Секция 4
// 
.section4{
    display: flex;
    flex-direction: column;
    gap: 50px;
    address{
        margin-top: -15px;
    }
}
.section4__map{
    width: 100%;
    border: solid black;
    height: 40vh;
    border-radius: 25px;
    margin-bottom: 5%;
    overflow: hidden;
    iframe{
        border-radius: 5px;
    }
}
// 
// Подвал
// 
footer{
    text-align: center;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif; 
}
// 
// Медиа-запросы
// 


@media screen and (max-width: 720px) {

    .section2__wrapper{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px) {
    html{
        font-size: 8px;
        
    }
    .section3__wrapper{
        flex-direction: column;
        gap: 25px;
    }
    .section2__wrapper{
        flex-direction: column;
        gap: 25px;
    }
}